em {
  font-style: normal;
  background-color: orangered;
  color: white;
  padding: 2px 4px;
  text-align: center;
  border-radius: 4px;
  font-size: small;
  font-weight: bold;
}

.menu.sub-menu {
  position: sticky;
  top: 0px;
  z-index: 100;
}

.menu.sub-menu .menu-item a {
  font-size: medium;
}
